@media screen and (max-width:250px){
    .topnav {
        justify-content: space-around;
    }
    .topnav {
        display: flex;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .topnav a{
        display: inline-block;
        padding: 15px 20px;
    }
    .topnav a:hover{
        background-color: rgb(223, 251, 219);
        border-radius: 5px;
    }
    }


body {
    font-family: 'Roboto', sans-serif;
}

header { 
    border: 1px solid #bbb;
    background-color: aqua;
    margin: 2px;
}

main {
    border: 1px solid #bbb;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}  

img {
    width: 350px;
}

footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    background-color: aqua;
    
}

section {
    
    display: contents;
    columns: 3;
    column-span: 3fr;
    background-color: yellow;
}