@media screen and (min-width:600px){
    .topnav {
        justify-content: space-around;
    }
    .topnav {
        display: flex;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .topnav a{
        display: inline-block;
        padding: 15px 20px;
    }
    .topnav a:hover{
        background-color: rgb(223, 251, 219);
        border-radius: 5px;
    }
    }

header {
    background-color: yellow;
    color: red;
    margin-left: 0px;

}

main {
    grid-template-columns: 1fr 1fr 1fr;
    padding: auto;
}

